@import '_bootstrap';

$color0: #2A4F6E;
$color1: #718DA5;
$color2: #496C89;
$color3: #123552;
$color4: #042037;

body {
  background-color: $color1;
  color: $color3;
}

#main {
  min-width: 900px;
}

#sidebar {
  text-align: center;
}

.jumbotron {
  background: transparent;
  color: $color4;
}

.panel {
  border: 1px solid $color3;
  border-radius: 1em;

  .panel-heading {
    border-bottom: 1px solid $color3;
    padding-bottom: 0.5em;
  }
}
