---
title: "Neo4j.rb: (ruby)-[:LOVES]-(neo4j)"
---

#main.container

  .jumbotron
    h1 Neo4j for Ruby

  #content.col-xs-9
    .panel
      .panel-heading
        h3 What is Neo4j.rb?
      .panel-body
        p Neo4j.rb (neo4j gem) is a Ruby wrapper for the Neo4j graph database.  It is a “Drop in” replacement for Rails Active Record.
        p Top Features
        ul
          li
            | Object Model interface for Nodes and Relationships including:
            ul
              li Properties
              li Indexes / Constraints
              li Callbacks
              li Validation
              li Assocations
          li
            | Query building / chaining interface similar to 
            = link_to "arel", "https://github.com/rails/arel"
          li Transactions
          li Migrations

    #getting-started.panel
      .panel-heading
        h3 Getting started
      .panel-body

        p
          | If you're the sort who likes to watch a video, check out our intro 
          = link_to 'screencast', 'https://www.youtube.com/watch?v=bDjbqRL9HcM'

        p
          | If you like to read, check out our wiki's 
          = link_to 'setup page', 'https://github.com/neo4jrb/neo4j/wiki/Neo4j-v3-Setup'


  #sidebar.col-xs-3
    .panel
      .panel-heading
        h3 Sidebar
      .panel-body
        p = link_to 'Getting started', '#getting-started'


    script data-gratipay-username="cheerfulstoic" src="//grtp.co/v1.js"
